body {
  font-family: "Open Sans", sans-serif;

  background-color: var(--main-color);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  max-width: $app-width;

  @include mw($app-width + 64px) {
    margin: 0 32px;
  }

  @include mw(450px) {
    margin: 0 16px;
  }
}
